<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558252190222-mum4fj06qh7jmi21hn8rvmad91atq3ff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558252190222-mum4fj06qh7jmi21hn8rvmad91atq3ff</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>558252190222-kd6ttfr8gs2hpgq59lr11h03oailj6n8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBzRshDuqV9hoAU8kPT4tzrYzDgTcfvr8</string>
	<key>GCM_SENDER_ID</key>
	<string>558252190222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexapps.sukar</string>
	<key>PROJECT_ID</key>
	<string>sokarchat</string>
	<key>STORAGE_BUCKET</key>
	<string>sokarchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558252190222:ios:36824748647e259249aa5f</string>
	<key>DATABASE_URL</key>
	<string>https://sokarchat.firebaseio.com</string>
</dict>
</plist>