<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>سكر</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>myAppLink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.alexapps.sukar</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>2494620284108468</string>
	<key>FacebookDisplayName</key>
	<string>Sukar app</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://dynamic-link.sukar.co</string>
	</array>
	<key>FirebaseScreenReportingEnabled</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>fitness</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>used to connect to suger meter device</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>used to connect to suger meter device</string>
	<key>NSCameraUsageDescription</key>
	<string>Upload profile photo</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>to record steps and health info</string>
	<key>NSHealthShareUsageDescription</key>
	<string>to record steps and health info</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>get healthy info</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Used in map to get your current location for map usage</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Used in map to get your current location for map usage</string>
	<key>NSLocationUsageDescription</key>
	<string>Used in map to get your current location for map usage</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used in map to get your current location for map usage</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>upload profile photo</string>
	<key>NSMotionUsageDescription</key>
	<string>Used to count your step </string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Upload profile photo</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>WKBackgroundModes</key>
	<array>
		<string></string>
	</array>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
